body{
    min-height: 100vh;
    background: url('../imges/5073414.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
#con1{
    margin: 10% 0% 10% 0%;
    width: 90%;
    background-color: rgba(0, 0 , 0, 0.3);
    border-radius: 150px 0px 150px 0px;
    border: 3px dotted rgb(237, 42, 120);
}
#con1 p{
    font-size: xxx-large;
    font-weight: 900;
    padding: 20px 80px 20px 80px;
    color: #fff;
}
#p{
    font-size: xxx-large;
    font-weight: 900;
    padding: 20px 80px 20px 80px;
    color: #fff;
    margin-top: -20vh;
 }
#con2{
    width: 100%;
    height: 560vh;
}
#con2 p{
    font-size: xxx-large;
    font-weight: 900;
    color: #fff;
}
#con2 details{
    color: #fff;
    font-size: xxx-large;
    font-weight: 900;
}
#con2 details summary{
    cursor: pointer;
}
#con2 details li{
    margin-left: 90px;
    font-size: xx-large;
    font-weight: 600;
}
#con2 #img1 img{
    width: 300px;
    height: 300px;
    margin-left: 7%;
    border-radius: 45px;
}
#con2 #img2 img{
    width: 300px;
    height: 300px;
    margin-left: 18%;
    border-radius: 45px;
}
#con2 #img3 img{
    width: 100px;
    height: 100px;
    margin-left: 18%;
    border-radius: 30px;
}
@media screen and (min-width:1000px) and (max-width:1300px){
    #con1{
        margin: 15% 0% 10% 0%;
    }
    #p{
        margin-top: -8vh;
     }
     #con2{
        height: 400vh;
    }
}
@media screen and (min-width:750px) and (max-width:800px){
    #con1{
        margin: 15% 0% 10% 0%;
    }
    #p{
        margin-top: -8vh;
     }
     #con2{
        height: 340vh;
    }
}